{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered achievements </h2>
  
    <table border="1">
      <thead>
      <tr>
        
        <td>AchievementID</td>
        
        <td>UserID</td>
        
        <td>AchievementTitle</td>
        
        <td>AchievementDetails</td>
        
        <td>AchievementDate</td>
        
        <td>CreatedAt</td>
        
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        
        <td>{{ .AchievementID }}</td>
        
        <td>{{ .UserID }}</td>
        
        <td>{{ .AchievementTitle }}</td>
        
        <td>{{ .AchievementDetails }}</td>
        
        <td>{{ .AchievementDate }}</td>
        
        <td>{{ .CreatedAt }}</td>
        
        <td><a href="/showachievements?id={{ .AchievementID }}" class="btn btn-primary">View</a></td>
        <td><a href="/editachievements?id={{ .AchievementID }}" class="btn btn-secondary">Edit</a></td>
        <td><a href="/deleteachievements?id={{ .AchievementID }}" class="btn btn-danger">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}