{{ define "Menu" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/messageentities">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newmessageentities">New</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/achievements">achievements</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/actions">actions</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/appointments">appointments</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/contexts">contexts</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/conversations">conversations</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/employees">employees</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/entities">entities</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/goals">goals</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/intentactions">intentactions</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/intententities">intententities</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/intents">intents</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/knowledgebase">knowledgebase</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/logs">logs</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/messageentities">messageentities</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/messages">messages</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/notifications">notifications</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/reminders">reminders</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/skills">skills</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/systemsettings">systemsettings</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/userfeedback">userfeedback</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/userhistory">userhistory</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/usernotes">usernotes</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/userpreferences">userpreferences</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/users">users</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/usersessions">usersessions</a> </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/userskills">userskills</a> </li>
       
    </ul>
  </div>
</nav>
{{ end }}