{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New entity fields</h2>  
    <form method="POST" action="insertuserpreferences">
       
      
     
      <label>UserID </label><input type="text" name="UserID" /><br />
      
      
     
      <label>PreferenceKey </label><input type="text" name="PreferenceKey" /><br />
      
      
     
      <label>PreferenceValue </label><input type="text" name="PreferenceValue" /><br />
      
      
      <label> CreatedAt </label><input type="datetime-local" name="CreatedAt" /><br />
     
      
      
      <label> UpdatedAt </label><input type="datetime-local" name="UpdatedAt" /><br />
     
      
      
      <input type="submit" value="Save user" class="btn btn-secondary" />
    </form>
  {{ template "Footer" }}
{{ end }}