{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Entity fields</h2>  
    <form method="POST" action="updateappointments">
      <input type="hidden" name="uAppointmentID" value="{{ .AppointmentID }}" />
        
     
     
      <label>UserID </label><input type="text" name="UserID" value="{{ .UserID}}"  /><br />
        
     
     
      <label>AppointmentTitle </label><input type="text" name="AppointmentTitle" value="{{ .AppointmentTitle}}"  /><br />
        
     
     
      <label>AppointmentDetails </label><input type="text" name="AppointmentDetails" value="{{ .AppointmentDetails}}"  /><br />
        
     
      <label> AppointmentDate </label><input type="datetime-local" name="AppointmentDate" value="{{ .AppointmentDate}}"  /><br />
     
        
     
      <label> CreatedAt </label><input type="datetime-local" name="CreatedAt" value="{{ .CreatedAt}}"  /><br />
     
        
     
      <label> UpdatedAt </label><input type="datetime-local" name="UpdatedAt" value="{{ .UpdatedAt}}"  /><br />
     
      
      <input type="submit" value="Save user" class="btn btn-secondary" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}
