{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New entity fields</h2>  
    <form method="POST" action="insertuserskills">
       
      
     
      <label>UserID </label><input type="text" name="UserID" /><br />
      
      
     
      <label>SkillID </label><input type="text" name="SkillID" /><br />
      
      
     
      <label>ProficiencyLevel </label><input type="text" name="ProficiencyLevel" /><br />
      
      
      <label> CreatedAt </label><input type="datetime-local" name="CreatedAt" /><br />
     
      
      
      <input type="submit" value="Save user" class="btn btn-secondary" />
    </form>
  {{ template "Footer" }}
{{ end }}