{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title >Golang Mysql Curd Example</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="public/css/bootstrap.css">
        <script src="public/js/bootstrap.js"> </script>
    </head>
    <body background="/public/indir.jpeg" style="background-attachment: fixed; background-size: cover;">
    
        <h1 align="center">Golang Mysql Curd Example</h1>   
{{ end }}