{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered entities </h2>
  
    <table border="1">
      <thead>
      <tr>
        
        <td>EntityID</td>
        
        <td>EntityName</td>
        
        <td>EntityType</td>
        
        <td>CreatedAt</td>
        
        <td>UpdatedAt</td>
        
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        
        <td>{{ .EntityID }}</td>
        
        <td>{{ .EntityName }}</td>
        
        <td>{{ .EntityType }}</td>
        
        <td>{{ .CreatedAt }}</td>
        
        <td>{{ .UpdatedAt }}</td>
        
        <td><a href="/showentities?id={{ .EntityID }}" class="btn btn-primary">View</a></td>
        <td><a href="/editentities?id={{ .EntityID }}" class="btn btn-secondary">Edit</a></td>
        <td><a href="/deleteentities?id={{ .EntityID }}" class="btn btn-danger">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}