{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .EntityID }} </h2>
       
     
     <p>EntityName: {{ .EntityName }}</p>
     
     <p>EntityType: {{ .EntityType }}</p>
     
     <p>CreatedAt: {{ .CreatedAt }}</p>
     
     <p>UpdatedAt: {{ .UpdatedAt }}</p>
     
    <br />
      <p><a href="/editentities?id={{ .EntityID }}" class="btn btn-secondary">Edit</a></p>
  {{ template "Footer" }}
{{ end }}