{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Entity fields</h2>  
    <form method="POST" action="updatecontexts">
      <input type="hidden" name="uContextID" value="{{ .ContextID }}" />
        
     
     
      <label>ContextName </label><input type="text" name="ContextName" value="{{ .ContextName}}"  /><br />
        
     
     
      <label>Description </label><input type="text" name="Description" value="{{ .Description}}"  /><br />
        
     
      <label> CreatedAt </label><input type="datetime-local" name="CreatedAt" value="{{ .CreatedAt}}"  /><br />
     
        
     
      <label> UpdatedAt </label><input type="datetime-local" name="UpdatedAt" value="{{ .UpdatedAt}}"  /><br />
     
      
      <input type="submit" value="Save user" class="btn btn-secondary" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}
