{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered unit </h2>
    <table border="1">
      <thead>
      <tr>
        
        <td>Idunit</td>
        
        <td>Unitname</td>
        
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        
        <td>{{ .Idunit }}</td>
        
        <td>{{ .Unitname }}</td>
        
        <td><a href="/unit/show?id={{ .Id }}">View</a></td>
        <td><a href="/unit/edit?id={{ .Id }}">Edit</a></td>
        <td><a href="/unit/delete?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}