{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New entity fields</h2>  
    <form method="POST" action="insertknowledgebase">
       
      
     
      <label>Topic </label><input type="text" name="Topic" /><br />
      
      
     
      <label>Content </label><input type="text" name="Content" /><br />
      
      
      <label> CreatedAt </label><input type="datetime-local" name="CreatedAt" /><br />
     
      
      
      <label> UpdatedAt </label><input type="datetime-local" name="UpdatedAt" /><br />
     
      
      
      <input type="submit" value="Save user" class="btn btn-secondary" />
    </form>
  {{ template "Footer" }}
{{ end }}