{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .KnowledgeID }} </h2>
       
     
     <p>Topic: {{ .Topic }}</p>
     
     <p>Content: {{ .Content }}</p>
     
     <p>CreatedAt: {{ .CreatedAt }}</p>
     
     <p>UpdatedAt: {{ .UpdatedAt }}</p>
     
    <br />
      <p><a href="/editknowledgebase?id={{ .KnowledgeID }}" class="btn btn-secondary">Edit</a></p>
  {{ template "Footer" }}
{{ end }}