{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered skills </h2>
  
    <table border="1">
      <thead>
      <tr>
        
        <td>SkillID</td>
        
        <td>SkillName</td>
        
        <td>Description</td>
        
        <td>CreatedAt</td>
        
        <td>UpdatedAt</td>
        
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        
        <td>{{ .SkillID }}</td>
        
        <td>{{ .SkillName }}</td>
        
        <td>{{ .Description }}</td>
        
        <td>{{ .CreatedAt }}</td>
        
        <td>{{ .UpdatedAt }}</td>
        
        <td><a href="/showskills?id={{ .SkillID }}" class="btn btn-primary">View</a></td>
        <td><a href="/editskills?id={{ .SkillID }}" class="btn btn-secondary">Edit</a></td>
        <td><a href="/deleteskills?id={{ .SkillID }}" class="btn btn-danger">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}