{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Entity fields</h2>  
    <form method="POST" action="updateusernotes">
      <input type="hidden" name="uNoteID" value="{{ .NoteID }}" />
        
     
     
      <label>UserID </label><input type="text" name="UserID" value="{{ .UserID}}"  /><br />
        
     
     
      <label>NoteTitle </label><input type="text" name="NoteTitle" value="{{ .NoteTitle}}"  /><br />
        
     
     
      <label>NoteContent </label><input type="text" name="NoteContent" value="{{ .NoteContent}}"  /><br />
        
     
      <label> CreatedAt </label><input type="datetime-local" name="CreatedAt" value="{{ .CreatedAt}}"  /><br />
     
        
     
      <label> UpdatedAt </label><input type="datetime-local" name="UpdatedAt" value="{{ .UpdatedAt}}"  /><br />
     
      
      <input type="submit" value="Save user" class="btn btn-secondary" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}
