{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered usernotes </h2>
  
    <table border="1">
      <thead>
      <tr>
        
        <td>NoteID</td>
        
        <td>UserID</td>
        
        <td>NoteTitle</td>
        
        <td>NoteContent</td>
        
        <td>CreatedAt</td>
        
        <td>UpdatedAt</td>
        
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        
        <td>{{ .NoteID }}</td>
        
        <td>{{ .UserID }}</td>
        
        <td>{{ .NoteTitle }}</td>
        
        <td>{{ .NoteContent }}</td>
        
        <td>{{ .CreatedAt }}</td>
        
        <td>{{ .UpdatedAt }}</td>
        
        <td><a href="/showusernotes?id={{ .NoteID }}" class="btn btn-primary">View</a></td>
        <td><a href="/editusernotes?id={{ .NoteID }}" class="btn btn-secondary">Edit</a></td>
        <td><a href="/deleteusernotes?id={{ .NoteID }}" class="btn btn-danger">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}