{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .ActionID }} </h2>
       
     
     <p>ActionName: {{ .ActionName }}</p>
     
     <p>ActionType: {{ .ActionType }}</p>
     
     <p>Description: {{ .Description }}</p>
     
     <p>CreatedAt: {{ .CreatedAt }}</p>
     
     <p>UpdatedAt: {{ .UpdatedAt }}</p>
     
    <br />
      <p><a href="/editactions?id={{ .ActionID }}" class="btn btn-secondary">Edit</a></p>
  {{ template "Footer" }}
{{ end }}