{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered reminders </h2>
  
    <table border="1">
      <thead>
      <tr>
        
        <td>ReminderID</td>
        
        <td>UserID</td>
        
        <td>ReminderText</td>
        
        <td>ReminderTime</td>
        
        <td>IsCompleted</td>
        
        <td>CreatedAt</td>
        
        <td>UpdatedAt</td>
        
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        
        <td>{{ .ReminderID }}</td>
        
        <td>{{ .UserID }}</td>
        
        <td>{{ .ReminderText }}</td>
        
        <td>{{ .ReminderTime }}</td>
        
        <td>{{ .IsCompleted }}</td>
        
        <td>{{ .CreatedAt }}</td>
        
        <td>{{ .UpdatedAt }}</td>
        
        <td><a href="/showreminders?id={{ .ReminderID }}" class="btn btn-primary">View</a></td>
        <td><a href="/editreminders?id={{ .ReminderID }}" class="btn btn-secondary">Edit</a></td>
        <td><a href="/deletereminders?id={{ .ReminderID }}" class="btn btn-danger">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}